@page "/PartyInventory"

@using DnD.Entities 
@inject IItemRepository ItemRepo
@inject ICharacterRepository CharacterRepo

<h1>These are the items in the playing characters' inventory</h1>
<br />
<br />

<table 
class="table table-striped table-dark"
style="width:100%; background-color: #1F2421">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Type</th>
            <th scope="col">Magic</th>
            <th scope="col">Value</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in inventory)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.Number</td>
                <td>@item.Type</td>
                <td>@item.IsMagic</td>
                <td>@item.Value</td>
                <td>@item.Owner.Character.CharacterName</td>
                <td><button type="button" class="btn btn-danger" @onclick="@(async () => await ItemRemove(item))">Remove</button></td>
            </tr>
        }
    </tbody>
    
</table>

@code {

    protected override void OnInitialized()
    {
        characters = CharacterRepo.GetAll().Where(c => c.Playing).ToList();
        inventory = characters.SelectMany(c => c.Inventory).Select(i => i.Item).ToList();

    }
    private List<Character> characters = new List<Character>();
    private List<Item> inventory = new List<Item>();

    private async Task ItemRemove(Item item)
    {
        await ItemRepo.Delete(item);
        inventory.Remove(item);
    }
}