@page "/PartyInventory"

@using LiteDB
@using DnD.Models
@using System.ComponentModel.DataAnnotations
@using DnD.Entities 
@inject ICharacterRepository Repo

<h1>These are the items in the active players' inventory</h1>
<br />
<br />

<table style="width:100%">
    <tr>
        <th>Type</th>
        <th>Number</th>
        <th>Magic</th>
        <th>Name</th>
        <th>Value</th>
        <th>Owner</th>
    </tr>
    @foreach (var item in inventory)
    {
        <tr>
            <th>@item.Type</th>
            <th>@item.Number</th>
            <th>@item.IsMagic</th>
            <th>@item.Name</th>
            <th>@item.Value</th>
            <th>@item.Owner</th>
            <th><button @onclick="@(() => ItemRemove(item))">Remove</button></th>
        </tr>
    }
</table>

@code {

    protected override void OnInitialized()
    {
        inventory = Repo.GetAllItems().ToList();
    }

    private List<Item> inventory = new List<Item>();

    private void ItemRemove(Item item)
    {
        inventory.Remove(item);
        Repo.RemoveItem(item.Owner, item.Name);
    }
}