@page "/PartyInventory"

@using LiteDB
@using DnD.Models
@using System.ComponentModel.DataAnnotations
@using DnD.Entities 
@inject ICharacterRepository Repo

<h1>These are the items in the playing characters' inventory</h1>
<br />
<br />

<table 
class="table table-striped table-dark"
style="width:100%; background-color: #1F2421">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Magic</th>
            <th scope="col">Value</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in inventory)
        {
            <tr>
                <th scope="row">@item.Number</th>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.IsMagic</td>
                <td>@item.Value</td>
                <td>@item.Owner</td>
                <td><button type="button" class="btn btn-danger" @onclick="@(() => ItemRemove(item))">Remove</button></td>
            </tr>
        }
    </tbody>
    
</table>

@code {

    protected override void OnInitialized()
    {
        inventory = Repo.GetActiveCharacters().SelectMany(c =>c.Inventory).ToList();
    }
      private List<CharacterEntity> active = new List<CharacterEntity>();
    private List<Item> inventory = new List<Item>();

    private void ItemRemove(Item item)
    {
        inventory.Remove(item);
        Repo.RemoveItem(item.Owner, item.Name);
    }
}